.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 100px;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #4444dd !important;
  }
  
  .Button:active {
    background-color: #4444dd !important;
  }
  
  .Button:focus {
    background-color: #4444dd;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }

  .Black {
    background-color: #444444;
    color: white;
  }

  .BlackOutline {
    background-color: transparent;
    color: #444444;
    border: 1px solid #444444;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #4444dd;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #4444dd;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #444444;
    color: #ccccf8;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: #ccccf8;
    color: #444444;
    border: 1px solid #444444
  }
  
  .Bright {
    background-color: #2ed9ff;
    color: #4444dd;
  }