.NavBar {
    background-color: #fafafa;
    border: 2px solid #cccccc;
}

.NavLink {
    padding: 5px;
    white-space: nowrap;
}

.Active i {
    color: #7777dd;
}

.Conatiner {
    max-height: 75px;
}