.MobileProfiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.MobileProfiles > * {
  flex-basis: calc(90% / 3);
  white-space: nowrap;
  flex-shrink: 2;
  padding: 0 !important;
  
}
