.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Like {
    color: #444444;
  }
  
  .Like:hover {
    color: #8888dd;
  }
  
  .LikeOutline:hover {
    color: #8888dd;
  }

  .Button {
    margin: 0 4px;
    padding: 2px 8px 2px 4px;
    background-color: #fababa;
    color: #444444;
    position: absolute;
    right: 2%;
  }

  .Button:hover,
  .Button:focus {
    background-color: #ccccf8;
    color: #444444;
    border: 1px solid #444444;
  }

  .Flag,
  .Flag:hover {
    font-size: 1em;
    color: #444444;
    padding: 5px;
  }