.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Like {
    color: #444444;
  }
  
  .Like:hover {
    color: #8888dd;
  }
  
  .LikeOutline:hover {
    color: #8888dd;
  }